


        
        <% include ../partials/messages %>
        <% if(typeof Vs != 'undefined'){ %> <%
            Vs.forEach(function(V) { %>
            <tr>
                <p><%=V.name%></p>
                <p><%=V.brand%></p>
                <img src="/uploads/<%=V.myimage%>" style="height: 200px; width: 200px;">
                <a href='/vehicles/checkout/{"vid":"<%=V.id%>","user":"<%=user%>"}'><button >check out</button></a>
            </tr>
            <% }); %> <% } %>
